header{
 
  color: aliceblue;
  text-align: center;
  font-size: large
};
button{
  text-align: center;
};
div{
  background-color: rgb(1, 12, 12);
  
};
img{
  text-align: center
};
.All{
  text-align: center;
};
br{
  text-align: center;
}