header{
 
  color: aliceblue;
  text-align: center;
  font-size: large
};
button{
  text-align: center;
};
div{
  background-color: rgb(0, 8, 8);
  
};
img{
  text-align: center;
};
.All{
  text-align: center;
};
br{
  text-align: center;
};